// Background colors
$bg-second: #1E1E1F;
$bg-main: #181819;

// Colors
$accent-color: #2C2E35;

// Border colors
$br-main: #353741;

// Border radius
$br-radius-main: 12px;

// Text colors
$text-color-main: #98989A;